header{
    height: 200px;
    background-color: rgb(190, 225, 255);
}
aside{
    width: 20%;
    background-color: rgb(190, 213, 255);
    float: left;
}
section{
    width: 80%;
    background-color: rgb(190, 196, 255);
    float: right;
}
footer{
    height: 100px;
    background-color: rgb(154, 210, 255);
    clear: both;
}
.post{
    text-align: center;
    padding: 10px;
    float: left;
}