body{
    background-color: rgb(180, 204, 255);
    color: rgb(255, 64, 89);
    }
h1{
    color:rgb(127, 80, 255);
}
#container{
    background-color: rgb(250, 197, 173);
    margin: 0 auto;
    width: 980px;
}
header{
    background-color: rgb(169, 245, 245);
}
nav{
    background-color: blanchedalmond;
}