@charset "utf-8";

body{
    background-color: rgb(255, 242, 224);
}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #ffc596;
    color: rgb(255, 255, 255);
    font-size: 300%;
    text-align: center;
    line-height: 1;
}
h1{
    border-radius: 50%;
    text-shadow: 1px 1px 2px #e48d1b;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    background-image: linear-gradient(to bottom,#f5a25e,#f0da93);
    font-family: 'Limelight',cursive;
}
.menu li{
    list-style-type: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    
}
.menu a{
    display: block;
    padding: 10px;
    background-color: #05a4cc;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}
.menu a:hover{
    background: #b7eff1;
    color: #000;
}
#container{
    width: 1000px;
    margin: 40px auto;
    padding: 40px 80px;
    padding: auto;
    border: 1px solid #9afaf2;
    background-color: #fff;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border-left: 7px solid #66a7e4;
    color: rgb(42, 172, 177);
}
.img-round{
    border-radius: 50%;
}
.imgL{
    float: left;
    margin: 0 20px auto;
}
p{
    color: #e05a31;
    font-size: 20px;
    margin-left: 20px;
}
a{
    color: #1b6814;
    text-decoration: none;
}
a:hover{
    color: rgb(160, 231, 178);
}
section{
    margin-bottom: 50px;
}
.ul li,table{
    margin-left: 20px;
}
header,nav,footer{
    text-align: center;
}
th{
    width: 60px;
}